Repository Vecinus/vecinus: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-tsc

frontend-eslint:
  name: ESLint (Frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  stages:
  - pre-push
  pass_filenames: false

frontend-tsc:
  name: TypeScript Type Check (Frontend)
  entry: npm --prefix frontend exec -- tsc --project frontend/tsconfig.json --noEmit
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat: añadido boton para abrir el documento legal desde la aplicacion en pantallas sing-in e inicio
  frontend/app/(drawer)/index.tsx
  frontend/components/sign-in-form.tsx
  frontend/public/documents/DOCUMENTACION_LEGAL_INTEGRAL.pdf
  frontend/utils/legal.ts
Due: frontend-eslint, frontend-tsc

feat: agregar disclaimers legales (actas, documentos, imágenes)
  frontend/app/(drawer)/[communityId]/chatbot.tsx
  frontend/app/(drawer)/[communityId]/incidencias.tsx
  frontend/components/actas/create-acta-card.tsx
  frontend/components/community/incidents/IncidentCreateModal.tsx
  frontend/utils/legal-warnings.ts
Due: frontend-eslint, frontend-tsc

fix: arreglar boton enter del chat de vecinos
  .pre-commit-config.yaml
  frontend/app/(drawer)/[communityId]/chat.tsx
  frontend/package-lock.json
Due: frontend-eslint, frontend-tsc

fix: arreglar que los presidentes puedan subir docs al chatbot
  backend/api/chat/chat_helpers.py
  backend/api/chatBot/documents.py
  frontend/app/(drawer)/[communityId]/chatbot.tsx
  frontend/utils/role.util.ts
Due: frontend-eslint, frontend-tsc

fix: arreglado error al obtener reservas ocupadas
  backend/api/common_space/reservations.py
Due: none

fix: arreglar test chatbot
  backend/tests/chatbotTest/test_chatbot.py
Due: none

fix: arreglo codacy
  backend/api/auth/login.py
Due: none

chore: crear blueprints ppl
  render/ppl.yaml
Due: none

fix: tras aceptar la invitacion ya se añade al chat de vecinos
  backend/api/associations/associations.py
Due: none

fix: correciones de validadores y de flujo qr
  backend/schemas/auth/auth.py
  backend/schemas/common_space/common_spaces.py
  frontend/app/(drawer)/[communityId]/admin.tsx
  frontend/app/(drawer)/[communityId]/crear-zona.tsx
  frontend/app/(drawer)/[communityId]/mis-reservas.tsx
  frontend/app/(drawer)/[communityId]/mis-reservas/[id].tsx
  frontend/components/booking/zone-form.tsx
  frontend/components/custom-alert.tsx
  frontend/components/sign-up-form.tsx
  frontend/components/ui/select.tsx
  frontend/tsconfig.json
Due: frontend-eslint, frontend-tsc

fix: cambiado mensaje actas
  frontend/utils/legal-warnings.ts
Due: frontend-eslint, frontend-tsc

feat: TyC frontend
  frontend/app/(auth)/legal.tsx
  frontend/app/(drawer)/_layout.tsx
  frontend/app/(drawer)/index.tsx
  frontend/app/(drawer)/legal.tsx
  frontend/components/legal/legal-document-view.tsx
  frontend/components/sign-in-form.tsx
Due: frontend-eslint, frontend-tsc

fix: codacy fix
  frontend/utils/legal-warnings.ts
  frontend/utils/legal.ts
Due: frontend-eslint, frontend-tsc

feat: avatarURL en registro y en barralateral
  backend/api/associations/associations.py
  backend/api/auth/login.py
  backend/schemas/auth/auth.py
  frontend/api/auth.ts
  frontend/components/custom-drawer-content.tsx
  frontend/components/sign-up-form.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/types/auth.types.ts
Due: frontend-eslint, frontend-tsc

fix: package.json y package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: implementada funcionalidad tablon de anuncios
  backend/api/announcements/__init__.py
  backend/api/announcements/announcements.py
  backend/main.py
  backend/schemas/announcements/__init__.py
  backend/schemas/announcements/announcements.py
  frontend/api/announcements.ts
  frontend/app/(drawer)/[communityId]/anuncio/[id].tsx
  frontend/app/(drawer)/[communityId]/anuncios.tsx
  frontend/app/(drawer)/[communityId]/booking.tsx
  frontend/app/(drawer)/[communityId]/chat.tsx
  frontend/app/(drawer)/_layout.tsx
  frontend/app/(drawer)/create-community.tsx
  frontend/components/community/announcements/AnnouncementCard.tsx
  frontend/components/community/announcements/AnnouncementCreateModal.tsx
  frontend/components/community/announcements/DateTimePickerModal.tsx
  frontend/components/custom-drawer-content.tsx
  frontend/hooks/useAnnouncements.ts
  frontend/tsconfig.json
  frontend/types/announcements.types.ts
Due: frontend-eslint, frontend-tsc

fix: arreglado error a la hora de mostrar anuncios a vecinos
  frontend/app/(drawer)/[communityId]/anuncios.tsx
Due: frontend-eslint, frontend-tsc

fix: Añadido pricing y descripcion del servicio
  frontend/components/legal/legal-document-view.tsx
  frontend/public/documents/DOCUMENTACION_LEGAL_INTEGRAL.pdf
  frontend/public/documents/DOCUMENTACIÓN_LEGAL_INTEGRAL.pdf
Due: frontend-eslint, frontend-tsc

fix: correccion ya no se firman documentos
  frontend/components/legal/legal-document-view.tsx
Due: frontend-eslint, frontend-tsc

feat: test implementados
  backend/tests/announcementsTest/test_announcements.py
  frontend/components/community/announcements/AnnouncementCard.tsx
  frontend/tests/e2e/announcements/announcementsLifecycle.spec.ts
Due: frontend-eslint, frontend-tsc

fix: arreglados errores en tests
  backend/tests/announcementsTest/test_announcements.py
  backend/tests/associationsTest/test_associations.py
  backend/tests/common_space/test_common_space.py
  backend/tests/common_space/test_reservations.py
  backend/tests/payments/test_payments.py
  backend/tests/payments/test_registration_payments.py
Due: none

fix: para codacy
  frontend/api/announcements.ts
  frontend/app/(drawer)/[communityId]/anuncio/[id].tsx
  frontend/app/(drawer)/[communityId]/anuncios.tsx
  frontend/components/community/announcements/AnnouncementCreateModal.tsx
  frontend/components/community/announcements/DateTimePickerModal.tsx
Due: frontend-eslint, frontend-tsc

fix(frontend): codacy fixes, lockfile, and ts typing
  frontend/app/(drawer)/[communityId]/anuncio/[id].tsx
  frontend/app/(drawer)/[communityId]/anuncios.tsx
  frontend/components/community/announcements/DateTimePickerModal.tsx
  frontend/components/custom-drawer-content.tsx
  frontend/hooks/useAnnouncements.ts
  frontend/tsconfig.json
Due: frontend-eslint, frontend-tsc

fix: sincronizar package-lock.json y resolver conflictos
  frontend/package-lock.json
Due: none

fix: arreglos codacy
  frontend/app/(drawer)/[communityId]/anuncio/[id].tsx
  frontend/app/(drawer)/[communityId]/anuncios.tsx
  frontend/app/(drawer)/index.tsx
  frontend/components/sign-in-form.tsx
Due: frontend-eslint, frontend-tsc

feat: ajustar avatarURL al chatbot
  frontend/app/(drawer)/[communityId]/chatbot.tsx
Due: frontend-eslint, frontend-tsc

feat: ajustar avatarURL al chatVecinos
  frontend/app/(drawer)/[communityId]/chat.tsx
Due: frontend-eslint, frontend-tsc

fix: arreglo rápido de dependencias
  frontend/package-lock.json
Due: none

fix: arreglo de dominios en CORS
  backend/main.py
Due: none

fix: arreglo dominios para el CORS
  backend/main.py
Due: none

chore: update package-lock.json
  frontend/package-lock.json
Due: none

chore(frontend): downgrade eslint to v8 to fix ci
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: formulario de registro
  frontend/components/sign-up-form.tsx
Due: frontend-eslint, frontend-tsc

chore(frontend): downgrade eslint and switch to legacy config to fix ci crash
  frontend/.eslintrc.js
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint

chore(frontend): fix eslint crash by using v9 with flat config
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint

fix: remove unused configuration file to clean up project structure
  frontend/.eslintrc.js
Due: frontend-eslint

fix: arreglo dominios CORS
  backend/main.py
Due: none

fix(frontend): remove 'as any' casts and use 'as Href' for Codacy compliance
  frontend/app/(drawer)/index.tsx
  frontend/components/sign-in-form.tsx
Due: frontend-eslint, frontend-tsc

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-tsc: any of: ^frontend/.*\.(ts|tsx)$
