Repository Vecinus/vecinus: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-tsc

.pre-commit-config.yaml:

repos:
  # --- VALIDACIÃ“N DE COMMITS ---
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.9
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # --- BACKEND (PYTHON) ---
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        stages: [pre-push]
        files: ^backend/

  - repo: https://github.com/pycqa/isort
    rev: 8.0.0
    hooks:
      - id: isort
        stages: [pre-push]
        files: ^backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        stages: [pre-push]
        additional_dependencies: [flake8-pyproject]
        files: ^backend/

# --- FRONTEND (REACT NATIVE / TYPESCRIPT) ---
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (Frontend)
        # Usamos npm --prefix para entrar a la carpeta de forma multiplataforma
        entry: npm --prefix frontend run lint -- --fix
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]
        pass_filenames: false

      - id: frontend-tsc
        name: TypeScript Type Check (Frontend)
        # Usamos npm exec para ejecutar tsc en la carpeta correcta
        entry: npm --prefix frontend exec -- tsc --project frontend/tsconfig.json --noEmit
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        stages: [pre-push]
        pass_filenames: false

fix: arreglados errores sobre codacy
  frontend/app/(drawer)/[communityId]/anuncios.tsx
  frontend/hooks/useAnnouncements.ts
Due: frontend-eslint, frontend-tsc

fix: cambiado permisos y botones del delete
  backend/api/incidents/incidents.py
  frontend/app/(drawer)/[communityId]/incidencia/[incidentId].tsx
  frontend/app/(drawer)/[communityId]/incidencias.tsx
Due: frontend-eslint, frontend-tsc

fix: añadir recomendacion kevin
  docs/otros-documentos/ERRORES_DETALLADOS.md
Due: none

fix: correccion borrado de incidencias
  backend/api/incidents/incidents.py
  frontend/app/(drawer)/[communityId]/incidencia/[incidentId].tsx
  frontend/hooks/useIncidents.ts
Due: frontend-eslint, frontend-tsc

fix: correccion error 404 y loop infinito
  frontend/app/(drawer)/[communityId]/incidencia/[incidentId].tsx
Due: frontend-eslint, frontend-tsc

feat: error 13.2 añadido
  docs/otros-documentos/ERRORES_DETALLADOS.md
Due: none

fix: correccion de test
  backend/tests/incidentsTest/test_incidents.py
Due: none

fix: arreglo lint
  backend/tests/incidentsTest/test_incidents.py
Due: none

fix: arreglo lint front
  frontend/app/(drawer)/[communityId]/incidencia/[incidentId].tsx
  frontend/app/(drawer)/[communityId]/incidencias.tsx
Due: frontend-eslint, frontend-tsc

docs: corregidos errores 2.3 y 2.4
  docs/otros-documentos/ERRORES_DETALLADOS.md
Due: none

fix: Unused variable
  frontend/components/community/announcements/AnnouncementCard.tsx
Due: frontend-eslint, frontend-tsc

fix: arreglado error 400 en validaciones simultaneas con escaner
  backend/schemas/common_space/reservations.py
  backend/services/common_space/guest_pass_service.py
  backend/services/common_space/reservation_service.py
  frontend/app/(drawer)/[communityId]/scanner.tsx
  frontend/types/booking.types.ts
Due: frontend-eslint, frontend-tsc

feat: añadido boton con scroll to bottom
  frontend/app/(drawer)/[communityId]/chat.tsx
Due: frontend-eslint, frontend-tsc

docs: arreglados scroll en chat y validaciones escaner
  docs/otros-documentos/ERRORES_DETALLADOS.md
Due: none

fix: mejoras ux chatbot
  frontend/app/(drawer)/[communityId]/chatbot.tsx
Due: frontend-eslint, frontend-tsc

fix: verificación admin de esa asociación
  backend/api/transcription/minutes.py
  backend/tests/transcription/test_api.py
Due: none

fix: 13.2
  backend/api/associations/associations.py
  frontend/app/(drawer)/[communityId]/admin.tsx
Due: frontend-eslint, frontend-tsc

feat: actualización dependabot para que solo implemente cambios en versiones major o en vulnerabilidades de seguridad
  .github/dependabot.yml
Due: none

fix: corregido error 2.6
  backend/api/common_space/common_space.py
  backend/services/common_space/common_space_service.py
Due: none

fix: correccion test
  backend/tests/common_space/test_reservations.py
Due: none

docs: errores pendientes
  docs/otros-documentos/ERRORES_DETALLADOS.md
Due: none

fix: correccion conflictos
  frontend/app/(drawer)/[communityId]/incidencias.tsx
Due: frontend-eslint, frontend-tsc

fix: correccion dependency scan
  frontend/package-lock.json
Due: none

fix: dependencias de develop
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.js
  frontend/tsconfig.json
Due: frontend-eslint

fix: poner las tareas que ha hecho hector
  docs/otros-documentos/ERRORES_DETALLADOS.md
Due: none

fix: Corregido límite de viviendas
  backend/api/associations/associations.py
  backend/api/payments/subscriptions.py
  backend/services/payments/registration_gocardless_service.py
  backend/services/payments/webhook_service.py
  frontend/app/(drawer)/[communityId]/admin.tsx
  frontend/components/community/SubscriptionStatusCard.tsx
  frontend/types/payments.types.ts
Due: frontend-eslint, frontend-tsc

fix: Limites de mensajes y actas
  backend/services/transcription/transcription_service.py
  frontend/api/chatbot.ts
  frontend/api/services/minutes.service.ts
  frontend/app/(drawer)/create-community.tsx
  frontend/app/payments/gocardless/complete.tsx
  frontend/components/actas/create-acta-card.tsx
  frontend/components/community/RetryPaymentButton.tsx
  frontend/components/community/incidents/utils.ts
  frontend/components/sign-in-form.tsx
  frontend/components/sign-up-form.tsx
  frontend/lib/error-message.ts
Due: frontend-eslint, frontend-tsc

fix: corregir review PR
  backend/api/associations/associations.py
Due: none

fix: Arreglado error de limites al fallar pago
  backend/api/payments/subscriptions.py
  backend/services/payments/webhook_service.py
  backend/tests/payments/test_subscription_usage.py
  backend/tests/payments/test_webhook_service.py
Due: none

feat: Añadido cambio de plan
  backend/api/associations/associations.py
  backend/api/payments/subscriptions.py
  backend/schemas/payments/__init__.py
  backend/schemas/payments/payments.py
  backend/services/payments/subscription_service.py
  backend/services/payments/webhook_service.py
  backend/tests/payments/test_subscription_usage.py
  backend/tests/payments/test_webhook_service.py
  frontend/api/payments.ts
  frontend/app/(drawer)/[communityId]/subscription-plan.tsx
  frontend/app/(drawer)/[communityId]/subscription.tsx
  frontend/app/(drawer)/_layout.tsx
  frontend/hooks/useSubscription.ts
  frontend/types/payments.types.ts
Due: frontend-eslint, frontend-tsc

feat: Flujo creado para comunidades preexistentes
  backend/api/associations/associations.py
  backend/api/payments/subscriptions.py
  backend/schemas/associations/associations.py
  backend/schemas/payments/__init__.py
  backend/schemas/payments/payments.py
  backend/services/payments/__init__.py
  backend/services/payments/activation_gocardless_service.py
  backend/services/payments/registration_gocardless_service.py
  backend/services/payments/usage_counters_service.py
  backend/services/payments/usage_service.py
  backend/services/payments/webhook_service.py
  backend/tests/payments/test_activation_payments.py
  backend/tests/payments/test_subscription_usage.py
  frontend/api/auth.ts
  frontend/api/payments.ts
  frontend/api/services/storage.service.ts
  frontend/app/(drawer)/[communityId]/activate-subscription.tsx
  frontend/app/(drawer)/[communityId]/subscription.tsx
  frontend/app/(drawer)/_layout.tsx
  frontend/app/payments/gocardless/complete.tsx
  frontend/components/community-blocked-modal.tsx
  frontend/context/AuthContext.tsx
  frontend/types/auth.types.ts
  frontend/types/payments.types.ts
Due: frontend-eslint, frontend-tsc

test: Corregidos tests después de módulo de pagos
  backend/tests/associationsTest/test_associations.py
  backend/tests/chat/test_chat.py
  backend/tests/chatbotTest/test_chatbot.py
  backend/tests/common_space/test_common_space.py
  backend/tests/common_space/test_reservations.py
  backend/tests/incidentsTest/test_incidents.py
  backend/tests/payments/test_activation_payments.py
  backend/tests/payments/test_registration_payments.py
  backend/tests/payments/test_subscription_usage.py
  backend/tests/payments/test_webhook_service.py
  backend/tests/pollTest/test_polls_api.py
  backend/tests/transcription/test_api.py
Due: none

fix: implementadas propuestas de mejora
  frontend/app/(drawer)/[communityId]/chat.tsx
  frontend/app/(drawer)/[communityId]/chatbot.tsx
Due: frontend-eslint, frontend-tsc

fix: arreglo merge
  frontend/package-lock.json
Due: none

fix: Eliminadas referencias a sandbox
  frontend/app/(drawer)/[communityId]/activate-subscription.tsx
  frontend/app/(drawer)/[communityId]/subscription.tsx
  frontend/app/(drawer)/create-community.tsx
  frontend/app/payments/gocardless/complete.tsx
  frontend/components/community/InvoicesList.tsx
  frontend/components/community/RetryPaymentButton.tsx
  frontend/components/community/SandboxBanner.tsx
Due: frontend-eslint, frontend-tsc

fix: Ya no se puede suscribir una comunidad con 0 viviendas
  backend/schemas/payments/payments.py
  backend/services/payments/registration_gocardless_service.py
  backend/tests/payments/test_registration_payments.py
  frontend/app/(drawer)/[communityId]/activate-subscription.tsx
  frontend/app/(drawer)/[communityId]/subscription-plan.tsx
  frontend/app/(drawer)/create-community.tsx
Due: frontend-eslint, frontend-tsc

fix: Limitado chatbot a 300 caractéres
  frontend/app/(drawer)/[communityId]/chatbot.tsx
Due: frontend-eslint, frontend-tsc

fix: correcciones tras revisiones
  backend/api/announcements/announcements.py
  frontend/api/announcements.ts
  frontend/app/(drawer)/[communityId]/anuncio/[id].tsx
  frontend/app/(drawer)/[communityId]/anuncios.tsx
  frontend/app/(drawer)/[communityId]/chat.tsx
  frontend/app/(drawer)/[communityId]/chatbot.tsx
  frontend/app/(drawer)/[communityId]/incidencias.tsx
  frontend/components/community/announcements/AnnouncementCreateModal.tsx
  frontend/components/community/announcements/DateTimePickerModal.tsx
Due: frontend-eslint, frontend-tsc
