Repository Vecinus/vecinus: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-tsc

.pre-commit-config.yaml:

repos:
  # --- VALIDACIÃ“N DE COMMITS ---
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.9
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # --- BACKEND (PYTHON) ---
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        stages: [pre-push]
        files: ^backend/

  - repo: https://github.com/pycqa/isort
    rev: 8.0.0
    hooks:
      - id: isort
        stages: [pre-push]
        files: ^backend/

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        stages: [pre-push]
        additional_dependencies: [flake8-pyproject]
        files: ^backend/

# --- FRONTEND (REACT NATIVE / TYPESCRIPT) ---
  - repo: local
    hooks:
      - id: frontend-eslint
        name: ESLint (Frontend)
        # Usamos npm --prefix para entrar a la carpeta de forma multiplataforma
        entry: npm --prefix frontend run lint -- --fix
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]
        pass_filenames: false

      - id: frontend-tsc
        name: TypeScript Type Check (Frontend)
        # Usamos npm exec para ejecutar tsc en la carpeta correcta
        entry: npm --prefix frontend exec -- tsc --project frontend/tsconfig.json --noEmit
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        stages: [pre-push]
        pass_filenames: false

fix: run_frontend.cmd
  frontend/run_frontend.cmd
Due: none

fix: address lint warnings and hook errors
  frontend/app/(tabs)/auth/login.tsx
  frontend/app/(tabs)/auth/logout.tsx
  frontend/app/comunities/[comunidad_id]/admin.tsx
  frontend/app/comunities/[comunidad_id]/chatbot.tsx
  frontend/components/SidebarMenu.tsx
Due: frontend-eslint, frontend-tsc

fix: localstorage fixed
  frontend/app/(tabs)/auth/logout.tsx
  frontend/app/actas/actas.tsx
  frontend/store/useAuthStore.ts
  frontend/store/useCommunityStore.ts
Due: frontend-eslint, frontend-tsc

fix: cierre de sesion cuando se recarga
  frontend/store/useAuthStore.ts
Due: frontend-eslint, frontend-tsc

feat: test del nuevo endpoint añadidos
  backend/tests/associationsTest/test_associations.py
Due: none

feat: merge rama con develop
  frontend/app/(tabs)/auth/accept-invitation.tsx
  frontend/app/(tabs)/auth/login.tsx
  frontend/app/(tabs)/auth/logout.tsx
Due: frontend-eslint, frontend-tsc

feat: merge rama con develop
  backend/api/chat/chat_helpers.py
  backend/api/chatBot/chatBot.py
  backend/api/chatBot/documents.py
  backend/services/chatBot/chatBotService.py
  backend/services/chatBot/documents_ChatBotService.py
  backend/tests/chatbotTest/test_chatbot.py
  frontend/app/auth/accept-invitation.tsx
  frontend/app/auth/login.tsx
  frontend/app/auth/logout.tsx
  frontend/app/comunities/[comunidad_id]/actas.tsx
  frontend/app/comunities/[comunidad_id]/admin.tsx
  frontend/app/comunities/[comunidad_id]/chatbot.tsx
  frontend/components/SidebarMenu.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/run_frontend.cmd
  frontend/store/useAuthStore.ts
  frontend/store/useCommunityStore.ts
Due: frontend-eslint, frontend-tsc

feat: endpoint para obtener datos del usuario actual y test
  backend/api/associations/associations.py
  backend/schemas/associations/__init__.py
  backend/schemas/associations/associations.py
  backend/tests/associationsTest/test_associations.py
Due: none

fix: pantallas de login/logout
  frontend/app/(tabs)/auth/login.tsx
  frontend/app/(tabs)/auth/logout.tsx
Due: frontend-eslint, frontend-tsc

fix: arreglado por hook black
  backend/tests/associationsTest/test_associations.py
  frontend/app/(tabs)/auth/login.tsx
  frontend/app/(tabs)/auth/logout.tsx
  frontend/app/comunities/[comunidad_id]/actas.tsx
  frontend/app/comunities/[comunidad_id]/chatbot.tsx
  frontend/app/invitations/index.tsx
Due: frontend-eslint, frontend-tsc

feat: Add Enunms and Aux Classes for Minutes Transcription
  backend/schemas/transcription/minutes.py
Due: none

feat: Add API Endpoints for transcribe audio and generate WORD file
  backend/api/transcription/minutes.py
Due: none

feat: Add audio to minutes processing logic
  backend/services/transcription/transcription_service.py
Due: none

feat: Add schema initialization and db insertion logic
  backend/services/transcription/minute_service.py
Due: none

feat: Add Word document creation logic
  backend/services/transcription/document_service.py
Due: none

fix: test error
  backend/tests/associationsTest/test_associations.py
Due: none

feat: creación esquemas de incidencias
  backend/schemas/incidents/incidents.py
Due: none

feat: añadido endpoint para listar incidencias
  backend/api/incidents/incidents.py
Due: none

feat: añadido endpoint para ver una incidencia
  backend/api/incidents/incidents.py
Due: none

feat: añadido endpoint para crear una incidencia
  backend/api/incidents/incidents.py
Due: none

fix: cambiado endpoint de get_all para que no devuelva las incidencias descartadas salvo que sean tuyas o la petición la haga un admin
  backend/api/incidents/incidents.py
Due: none

fix: cambiado endpoint de create
  backend/api/incidents/incidents.py
Due: none

fix: corrección nombres de estados
  backend/api/incidents/incidents.py
Due: none

feat: añadido endpoint para que los admins actualicen los estados de las incidencias
  backend/api/incidents/incidents.py
Due: none

feat: añadido router de incidencias a la aplicación
  backend/main.py
Due: none

feat: añadida importación y variables de cloudinary
  backend/core/config.py
  backend/requirements.txt
Due: none

feat: añadida subida de imágenes en la creación de la incidencia
  backend/api/incidents/incidents.py
Due: none

feat: implementadas pantallas, a la espera de backend para integracion
  frontend/app/comunities/[comunidad_id]/reservas.tsx
  frontend/app/comunities/[comunidad_id]/worker/escaner.tsx
  frontend/app/comunities/crear-zona.tsx
  frontend/app/comunities/mis-reservas/[reserva_id].tsx
  frontend/components/ui/CustomModal.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/store/useZonesStore.ts
Due: frontend-eslint, frontend-tsc

chore: añadido link a cloudinary al entorno
  backend/.env.example
Due: none

refactor: Change Document Service location
  backend/services/document_service.py
  backend/tests/transcription/test_document.py
Due: none

feat: base model and crud of common spaces
  backend/api/common_space/__init__.py
  backend/api/common_space/common_space.py
  backend/main.py
  backend/schemas/common_space/__init__.py
  backend/schemas/common_space/common_spaces.py
  backend/services/common_space/common_space_service.py
  backend/tests/common_space/test_common_space.py
Due: none

fix: only admin and president can create, update and delete common spaces
  backend/api/common_space/common_space.py
Due: none

feat: Pantalla incidencia falta visualizar
  backend/api/incidents/incidents.py
  backend/schemas/incidents/incidents.py
  frontend/app/_layout.tsx
  frontend/app/comunities/[comunidad_id]/incidencias.tsx
  frontend/components/SidebarMenu.tsx
  frontend/data/mock-incidencias.ts
  frontend/services/incidentService.ts
Due: frontend-eslint, frontend-tsc

feat: implementado ci_sast
  .github/workflows/CI_sast.yml
Due: none

feat: configuracion dependabot.yml y realizado ci-dependency-scan
  .github/dependabot.yml
  .github/workflows/CI_dependency_scan.yml
Due: none

feat: implementado completo
  .github/dependabot.yml
  .github/workflows/CI_dependency_scan.yml
  .github/workflows/CI_security_monthly_review.yml
  README.md
  backend/requirements.in
  backend/requirements.txt
  docs/README_DEPENDENCIAS.md
  docs/README_DEPENDENCIAS_1_PAGINA.md
  frontend/package-lock.json
Due: none

feat: cambio para verificar front y back manuales
  .github/workflows/CI_dependency_scan.yml
  docs/README_DEPENDENCIAS.md
  docs/README_DEPENDENCIAS_1_PAGINA.md
Due: none

fix: Arreglo de configuración y dependencias
  frontend/app.json
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint

feat: Configuración de memoria para movil con mmkv y almacenamiento de datos de usuario
  frontend/constants/api.ts
  frontend/services/communityService.ts
  frontend/store/storage.ts
  frontend/store/storage.web.ts
  frontend/store/useAuthStore.ts
  frontend/store/useCommunityStore.ts
  frontend/store/useMembersStore.ts
  frontend/store/usePropertyStore.ts
  frontend/store/useUserStore.ts
Due: frontend-eslint, frontend-tsc
